/* This file is automatically managed and will be overwritten from time to time. */
/* Do not manually edit this file. */

/* Provided by calendar-component-2.0-BETA3.jar */
@import "../../../VAADIN/addons/calendar/calendar-addon.scss";


/* Import and include this mixin into your project theme to include the addon themes */
@mixin addons {
	@include calendar-addon;
}

